<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>College Student Management System</title>
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
 </head>
<body>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  
<nav class="navbar navbar-expand-sm .bg-info navbar-light">
  <!-- Brand -->
  <a class="navbar-brand" th:href="@{/index}">College Student Management System</a>

  <!-- Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
 <!-- Navigator bar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/courses}">Course Management</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Student Management</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" th:href="@{/teachers}">Teacher Management</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" th:href="@{/elementcourses}">Course Element Information</a>
        </li>
         <li class="nav-item">
        <a class="nav-link" th:href="@{/majors}">List of Majors</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" th:href="@{/departments}">List of Departments</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" th:href="@{/Updownload}">Files</a>
       </li>
     
    </ul>
  </div>
</nav>
<br>
<br>

    <div class ="container">
   <div class = "row">
        <h1> Scores </h1>
        </div>
        <div class = "row">
   <div class = "col-lg-3">
      <a th:href = "@{/scores/new}" class = "btn btn-primary btn-sm mb-3"> Add Score</a> 
    </div>
    
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
             <tr>
                 <th> Score ID</th>
                 <th> Score Type</th>
                 <th> Score Content</th>
                 <th> Score Status</th>
                 <th> Actions </th>
             </tr>
        </thead>
        <tbody>
             <tr th:each = "score: ${scores}">
			    <td th:text = "${score.scoreid}"></td>
			    <td th:text = "${score.scoreTYPE}"></td>
			    <td th:text = "${score.scoreCONTENT}"></td>
			    <td th:text = "${score.scoreSTATUS}"></td>
			    
			    <td>
						<a th:href = "@{/scores/edit/{scoreid}(scoreid=${score.scoreid})}"
						 class = "btn btn-primary">Update</a>
						 
						 <a th:href = "@{/scores/{scoreid}(scoreid=${score.scoreid})}"
						 class = "btn btn-danger">Delete</a>
						
						 </td>
             </tr>
        </tbody>
    </table>
</div>
        </div>
</body>
</html>